.collapse_button{
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #333333;
    color: white;
    text-align: left;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .collapse_button::after {
      content: '\25be';
      float: right;
      transform: scale(1.5);
  }

  .collapse_button--active{background: #555555;}
  .collapse_button--active::after{content: '\25b4';}

  .collapse_content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s;
    text-align: left;
    color: black;
    padding: 0 15px;
    background: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .result {
    padding-top: 2%;
    padding-bottom: 5%;
  }

  a {
    text-decoration: none;
  }


.containerBox {
    background: rgb(35,38,40);
    color: white;
    padding-top: 3%;
    padding-bottom: 5%;
    border-radius: 30px;
}

.howtouse {
    padding-bottom: 2%;
}

.row {
    justify-content: center;
}

.helpText {
    padding-top: 3%;
}